body{
    border: 1px red solid;
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 75px;
    padding: 50px;
    background-image: url("Despair.png");
    background-size: 400px 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 75px;
}

h1{
    text-align: center;
}