div{
    border: 1px solid red;
    display: block;
    width: 1100px;
    height: 300px;
    background-color:burlywood;
}

.Professor-Name{
    margin-left: 50px;
    text-decoration: underline;
    width: 200px;
}

.Recent-Courses{
    text-decoration: underline;
    font-weight: bolder;
}

.Rating-score{
    margin-left: 50px;
    font-weight: 200;
}

p{
    margin-left: 50px;
}

.Courses{
    float: left;
    height:200px;
    width:400px;
    border: 1px solid red;
}

.Comments{
    float: left;
    height:200px;
    width:400px;
    border: 1px solid red;
}

.Comments-header{
    font-weight: bolder;
    text-decoration: underline;
}