.Project-Name{
    text-align: center;
}

body{
    background-color: grey;
}

img{
    display: block;
    margin: auto;
    width: 350px;
    height: 500px;
}

div{
    background-color: lavender;
}

.div-1{
    border: 4px solid black;
    border-bottom: 2px solid black;
}

.description{
    text-align: justify;
    width: 350px;
    margin: auto;
    background-color: white;
}

.buttons{
    display: block;
    margin: auto;
    text-align: center;
}

button{
    background-color: skyblue;
    border: 2px solid black;
    padding: 15px 15px;
    font-size: medium;
    cursor: pointer;
    transition-duration: 1s;
}

button:hover{
    background-color: black;
}
.div-2{
    border: 4px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.div-3{
    text-align: center;
    font-size: xx-large;
    padding: 20px 40px;
    border: 4px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.div-4{
    display: flex;
    justify-content: space-around;
    border: 4px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.member-1{
    float: left;
    width: 30%;
    margin-right: 3%;
    padding: 20px 20px;
    text-align: center;
}

.member-2{
    float: left;
    width: 30%;
    margin-right: 3%;
    padding: 20px 20px;
    text-align: center;
}

.member-3{
    float: left;
    width: 30%;
    padding: 20px 20px;
    text-align: center;
}

