body{
    border: 1px red solid;
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 75px;
    padding: 50px;
    background-image: url("Despair.png");
    background-size: 400px 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 75px;
    font-family: Futura, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
}

.Warning{
    font-weight: 2000;
    font-size: 20px;
    color: red;
    text-align: center;
}

.Login{
    text-align: center;
    font-size: 20px;
}