<head>
    <link href="C:\Users\Jimha\Projects\MMUInsight\static\css\Professor-info.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1 class="Professor-info-header">
            <p class="Logo">
                Logo here
            </p>
            <div class="buttons">
                <a href="Homepage.html"><button>Back</button></a>
            </div>
        </h1>
    </div>
    <div class="Professor-info">
        <h2>
        <span class="Professor-Name">Professor Name</span>
        <span class="Rating-score">Rating: ?/5</span>
        </h2>
        <p class="Courses">
        <span class="Recent-Courses">
        Recent Courses
        </span>
        <br>
        Course 1
        <br>
        Course 2
        <br>
        Course 3
        </p>
        <p class="Comments">
            <span class="Comments-header">Comments</span>
        </p>
    </div>
</body>