<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div>
    <h1>Register</h1>

    <form method="POST" action="/register">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label>Confirm Password:</label><br>
        <input type="password" name="confirm_password" required><br><br>

        <label>User Type:</label><br>
        <select name="user_type" required>
            <option value="student">Student</option>
            <option value="lecturer">Lecturer</option>
        </select><br><br>

        <button type="submit">Register</button>
        <br>
        <br>
        <br>
        <p class="Warning">PLEASE DON'T USE YOUR REAL MMU PASSWORD!</p>
        <p class="Login">Already registered? <a href="login.html">Login</a> now</p>
    </form>
    </div>
</body>
</html>